.tachado {
  text-decoration-line: line-through;
  text-decoration-color: #a683e3;
}
.tabla {
  text-align: center;
  width: 85%;
  margin-left: 100px;
  height: auto;
  margin-top: 90px;
  color: #a683e3;
}

.titulo {
  text-align: center;
  margin-top: 20px;
  color: #a683e3;
}

.input-group {
  margin: 30px 0 20px;
  padding: 10px;
}
